body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #141e30,
    #243b55
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto Slab", serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

.button {
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem 0.2rem;
  text-align: center;
  background: #f1f1f1;
  box-shadow: 0 2px 0 0 #cecece;
  color: #999;
  cursor: pointer;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.button--save {
  background: #5aac44;
  box-shadow: 0 2px 0 0 #3f6f21;
  color: #fff;
}

.show {
  display: block;
}
