# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET =''

# Mongo DB
# Local development
MONGO_USER=''
MONGO_PASSWORD=''
MONGO_PATH=''

# Port
PORT=4000

# Debug 
LOG_LEVEL='debug'